<style>
  @media screen {
    #print-extras { display:none; }
    #print-extras .favicon {
      height:16px;
      margin-right:5px;
      width:16px;
    }
  }
  @media print {
    body,#content {
      background:#fff;
      color:#000;
      font:12pt Georgia,"Times New Roman",serif;
      margin:0;
      padding:0;
      width:100%;
    }
    #head,#navigation,#foot { display:none; }
    #print-extras {
      display:block;
      page-break-before:always;
    }
  }
</style>
